In [1]:
import sqlalchemy as sql

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
conn_cbo = sql.create_engine('postgresql://postgres:%24h%5B6%3B%3AsqyA4%25f6nL%5Bg@postgres.driva.io:5433/postgres')

In [3]:
df_cbo = pd.concat([df for df in pd.read_sql(
    sql.text(f'''
        SELECT *
        FROM public.cbo_2021_new
    '''),
    chunksize=1e4,
    con=conn_cbo.connect()
)])

In [4]:
df_cbo.head()

   cnpj                                        cbo      qtde_func   ano
0   191                              111405,411020            1,1  2021
1   272  223530,241010,241040,351605,413210,413225  1,8,1,1,1,100  2021
2   353                241010,241040,413210,413225     7,1,82,169  2021
3   434                241010,241040,413210,413225     10,2,73,85  2021
4   515         214205,241010,241040,413210,413225    1,3,1,30,76  2021

In [5]:
df_cnpjs = pd.read_csv('../../data/final_empresas.csv', usecols=['cnpj'])
df_cnpjs.head()

             cnpj
0  63254718000124
1  35100882000141
2  63257273000136
3  33131711000154
4  48721732000105

In [6]:
print(df_cbo.shape)
df_cbo = pd.merge(df_cbo, df_cnpjs, on='cnpj', how='inner')
df_cbo.shape

(5036586, 4)

(446782, 4)

In [7]:
df_cbo.to_csv('../../data/final_cbo.csv', index=False)