In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/fabricas.csv')
df.head()

,Unidade,Cidade,Estado,CEP,Lat (graus),Long (graus),Lat (rad),Long (rad)
0,RBR,RIO BRANCO DO SUL,PR,83540,"-25,3376341952381","-49,2647206238095","-0,442225141372809","-0,859831579960631"
1,VRA,VIDAL RAMOS,SC,88443,"-27,3313244","-49,4544744333333","-0,477021599710664","-0,863143408705024"
2,SLT,SALTO DE PIRAPORA,SP,18160,"-23,6679697772727","-47,5948296681818","-0,413083999875918","-0,830686484635653"
3,ITM,ITAU DE MINAS,MG,37975,"-20,74468789","-46,7534126","-0,362063105979095","-0,816000986413403"
4,CAN,CANTAGALO,RJ,28500,"-21,9552787928571","-42,3413491214286","-0,383191903128643","-0,738995951905337"

In [3]:
df = df.rename(columns={'Lat (graus)': 'lat', 'Long (graus)': 'long'})
df = df[['Unidade', 'Cidade', 'Estado', 'CEP', 'lat', 'long']]
df.to_csv('../../data/final_fabricas.csv', index=False)