In [3]:
import sqlalchemy as sql

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
target_col = 'ton | m3 - ano'

In [5]:
conn_empresas = sql.create_engine('postgresql://postgres:%24h%5B6%3B%3AsqyA4%25f6nL%5Bg@postgres.driva.io:5433/postgres')
conn_cadri = sql.create_engine('postgresql://postgres:%24h%5B6%3B%3AsqyA4%25f6nL%5Bg@postgres.driva.io:5432/cadri')

In [6]:
df_empresas = pd.read_sql(
    sql.text(f'SELECT * FROM clientes.verdera_empresas WHERE cnae_principal_subclasse IN {(2219600, 4520006, 2342701, 2342702)}'),
    con=conn_empresas.connect()
)

In [11]:
df_empresas[['cbo']].isna().sum() / df_empresas.shape[0]

cbo    0.901327
dtype: float64

In [7]:
df_cadri = pd.read_sql(sql.text('SELECT * FROM cadri.cadri_e_pareceres_com_residuos'), con=conn_cadri.connect())

In [ ]:
df_cadri['cadri_data'] = pd.to_datetime(df_cadri['cadri_data'], format='%d/%m/%Y')
df_cadri['cadri_ano_solicitado'] = df_cadri['cadri_data'].dt.year
df_residuo_solicitado_por_cnpj_ano = df_cadri[['geradora_cnpj', 'cadri_ano_solicitado', target_col]].groupby(['geradora_cnpj', 'cadri_ano_solicitado']).sum().reset_index()

df = pd.merge(
    df_empresas,
    df_residuo_solicitado_por_cnpj_ano,
    left_on='cnpj', right_on='geradora_cnpj', how='inner'
)[['qtde_funcionarios', 'faturamento', 'cadri_ano_solicitado', target_col]]